// Typography colors
$text-clean-black: #000000;
$text-clean-white: #fbfff9;
$text-medium-grey: #939393;
$text-light-grey: #d8d8d8;

// Container colors
$cont-clean-white: #ffffff;
$cont-clean-black: #000000;
$cont-light-grey: #dcdcdc;
$cont-dark-blue: #11304f;
$cont-medium-orange: #fea500;
